@charset "ISO-8859-1";
body{

	background-size: cover;
	height: 200vh;
	background-position: left;
	font-size: 1.2em;


   background-color: white;

	/* background-image: url("/static/images/cover.jpg");  */



}
#myhead1 {
	font-size: 70px;
	color: #620000;
	text-align: center;
	text-shadow: 3px 3px 3px white;
	font-family: 'Roboto Slab', sans-serif;
	background-color: #fde3bd;
	border-bottom: 2px solid white;
	border-top: 2px solid #620000;

}
.mydiv{
	background-color: white;
	width: 50%;
}

@media(max-width: 600px){
	.mydiv{
		width: 100%;
	}
}
#myheader1{
	height: 100px;
	color: white;
}
#headfix{
	position: relative;
	top: 0px;
	width: 100%;
	z-index: 10;
}
.navbar-brand{
	font-size: 70px;
	color: white;

	font-family: 'Roboto Slab', sans-serif;
	font-weight: bolder;
}
.navbar {

    /*	background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
 */
	background: linear-gradient(to right, #ec008c, #fc6767);

	font-size: 20px;   
	color: white;

	font-family: 'Roboto Slab', sans-serif;
	font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link{
	color: white;
}
@media(max-width: 766px){
	.navbar-nav{
		background-color: #feecde;
		color: white;
	}
}

.myhead2{
	text-align: center;
	margin-top: 2%;
	font-size: 30px;
	color: black;

	font-family: 'Roboto Slab', sans-serif;
}
.myfooter .col-sm-6{
	border-bottom: 1px solid #400000;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fancybox{
	color: white;
	margin: 0 auto;
   position: relative;
	border: transparent;
	border-radius: 5%;
	text-align: center;

	width: 30%;
	height: auto;
	margin-top: 5%;
	padding: 20px 20px;
/*	background: linear-gradient(to left, #0f0c29, #302b63, #24243e);  */
	background: linear-gradient(to right, #ec008c, #fc6767);

}



.fancybox1{
	color: white;

   position: relative;
   margin: 0 auto;
	border: transparent;
	border-radius: 5%;
	text-align: left;
	width: 50%;
/*	background: linear-gradient(to left, #0f0c29, #302b63, #24243e); */
	background: linear-gradient(to right, #ec008c, #fc6767);

   padding-left: 30px;
   
   margin-top: 5%;
   padding-top: 30px;
   padding-bottom: 30px;

}

.fancybox2{
	color: white;

   position: relative;
   margin: 0 auto;
	border: transparent;
	border-radius: 5%;
	text-align: left;
	width: auto;
/*	background: linear-gradient(to left, #0f0c29, #302b63, #24243e); */
	background: linear-gradient(to right, #ec008c, #fc6767);

   padding-left: 30px;

   margin-top: 5%;
   padding-top: 30px;
   padding-bottom: 30px;

}

.btn{
 border-radius: 20px;
   padding: 10px 20px;
   background-color: black;
   border: none;
}

hr{

	height: 3px;
/*	background: linear-gradient(to left, #0f0c29, #302b63, #24243e);  */
background: linear-gradient(to right, #ec008c, #fc6767);

	margin-top:2%;
	width: 40%;
}


