{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="p-5">
	<h1 class="myhead2">{{mypost.subject}}</h1>
	<hr>
<div class="row">
	<div class="col-sm-6">
	<p><strong>Thoughts of the writer :: <br></strong> {{mypost.msg}}</p>
	<p><strong>Date :: </strong> {{mypost.cr_date | date:"d/m/y"}}</p>
	</div>
	<div class="col-sm-6">
		<img class="img-fluid" src="/media/{{mypost.pic}}" />
	</div>
</div>

<div class="row">
	<a class="btn btn-dark" href="/social/comment/create/{{mypost.id}}">Add your comments here</a>
</div>
<br>
<a href="/social/mypost" class="btn btn-dark">Back</a>
</div>


{% endblock %}
